<%- include("header") -%>
<div class="box" id="heading">
    <h1>This is the about page</h1>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ut modi iste repudiandae, est unde? Voluptatum illo iure natus, maiores mollitia autem sunt, numquam magni suscipit et repellendus fuga libero.</p>
<%- include("footer") -%>
